{% extends 'base.html' %}
{% load static %}

{% block title %}Importar XML NFSe{% endblock %}

{%block nav_%}
    {% include 'parcial/_nav.html' %}
{%endblock%}

{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ titulo }}</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="arquivos">Selecione os arquivos XML NFSe:</label>
                            <input type="file" class="form-control" id="arquivos" name="arquivos" accept=".xml" multiple required>
                            <small class="form-text text-muted">
                                Selecione um ou mais arquivos XML no formato NFSe. Quando não estiver em lote, você pode selecionar múltiplas notas fiscais.
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary">Importar</button>
                        <a href="{% url 'faturamento_medico:ftlistar' %}" class="btn btn-cancel btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}