{% extends 'base.html' %}
{%block nav_%}
  {% include 'parcial/_nav.html' %}
{%endblock%}
{%block conteudo%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ titulo }}</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <h5><i class="fas fa-exclamation-triangle"></i> Atenção!</h5>
                        <p>{{ descricao }}</p>
                        {% if itens_count > 0 %}
                        <p class="text-danger">
                            <strong>Esta regra possui {{ itens_count }} itens de rateio associados.</strong>
                            Para excluir a regra, primeiro remova todos os itens associados.
                        </p>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Dados da Regra:</h5>
                            <table class="table table-bordered">
                                <tr>
                                    <th>ID:</th>
                                    <td>{{ regra.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nome da Regra:</th>
                                    <td>{{ regra.nomedaregra }}</td>
                                </tr>
                                <tr>
                                    <th>Rateio:</th>
                                    <td>{{ regra.get_rateio_display }}</td>
                                </tr>
                                <tr>
                                    <th>Itens Associados:</th>
                                    <td>{{ itens_count }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if itens_count == 0 %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash"></i> Confirmar Exclusão
                                    </button>
                                    {% endif %}
                                    <a href="{% url 'regrarateio:regraList' %}" class="btn btn-secondary">
                                        <i class="fas fa-arrow-left"></i> Cancelar
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}