{% extends 'base.html' %}

{%block nav_%}
   {% include 'parcial/_nav.html' %}
{%endblock%}

	 {%block conteudo%}
	 
	   
 
	   <form method="post" novalidate class="card">
		{%csrf_token %}
		{% if messages %}
		   {% include 'parcial/_messages.html' %}
		{% endif %}
		{% comment %} <h2>{% if formapgto %} Alteracao {%else %} Criar {%endif%} Cobranca</h2> {% endcomment %}
	   {% for field in form %}
		   {% if field.name == 'completed' %}
			   <p>
				   {{ field.label_tag }}
				   {{ field }}
			   </p>
			   {% if field.errors %}
				   <small class="error">{{ field.errors|striptags  }}</small> 
			   {% endif %}
		   {% else %}
			   {{ field.label_tag }} 
			   {{ field }}
			   {% if field.errors %}
				   <small class="error">{{ field.errors|striptags  }}</small> 
			   {% endif %}
		   {% endif %}
	   {% endfor %}
	   
	   <div class="form-buttons">
	    <input type="submit" value="Salvar" class="btn btn-primary"/>
	    <a href="{%url 'regrarateio:regraList'%}" class="btn btn-cancel btn-outline-secondary">Cancelar</a>
	   </div>
	   
   
   </form>




{%endblock%}