{% extends 'base.html' %}



{%block nav_%}
   {% include 'parcial/_nav.html' %}
{%endblock%}

  {% comment %} {%block sid_Bar%}
        {% include 'parcial/_MenuSideNav.html' %}
     {%endblock%} {% endcomment %}



{%block conteudo%}



    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg></div>
                                             {% if tipo == 0 %}
                                                Adicionar {{titulo}}
   {% else %}
                                             Alterando {{titulo}}
                                                {% endif %}
                                        </h1>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </header>


<div class="container-xl px-4 mt-4">
                         <div class="row">




                             <div class="col-xl-4">
                                 <!-- Profile picture card-->
                                 <div class="card mb-4 mb-xl-0">

                                     <div class="card-header">Foto do Perfil</div>
                                     <div class="card-body text-center">

                                         <!-- Profile picture image-->
                                         {% if  socios.avatarsoc %}
                                         <img class="img-account-profile rounded-circle mb-2" src="{{ socios.avatarsoc.url }}" alt="{{socios.socio}}" style="width: 150px; height: 150px; object-fit: cover;">
                                         {% else %}
                                         <img class="img-account-profile rounded-circle mb-2" src="/static/img/user-placeholder.svg" alt="Placeholder" style="width: 150px; height: 150px; object-fit: cover;">
                                         {% endif %}

                                         <label for="id_avatarsoc" class="form-label">Alterar Foto</label>
                                         <input type="file" name="avatarsoc" accept="image/*" id="id_avatarsoc" class="form-control" form="editForm">

                                         <!-- Profile picture help block-->
                                         <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                     </div>
                                 </div>
                            </div>
                      


                            <div class="col-xl-8">
                                <!-- Account details card-->
                                <div class="card mb-4">
                                    <div class="card-header">Detalhes da Socio</div>
                                    <div class="card-body">

                                        <form method="POST" action="{% url 'socio:Tela_Alt_Cad'   %}" enctype="multipart/form-data" id="editForm">

                                           {% csrf_token %}
                       

                                           <label class="small mb-1" for="id">Id</label>
                                           <input class="form-control" id="id"
                                            name="id" type="text" readonly
                                                           value="{{ socios.id }}" >

                                           <label class="small mb-1" for="empresa">Empresa</label>
                                           <input class="form-control" id="empresa" name="empresa" type="text" readonly
                                               value="{{ socios.empresa.razao }}" >

                                           <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (first name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                                    <input class="form-control" id="inputFirstName" name="inputFirstName" type="text" 
                                                    placeholder="Enter your first name"
                                                           value="{{ socios.socio }}" >
                                                </div>
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                                    <input class="form-control" id="inputLastName" name="inputLastName" type="text" 
                                                    placeholder="Enter your last name"  
                                                    value="{{ socios.lastname }}">
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                                <input class="form-control" id="email" name="email" type="text"
                                                placeholder="Enter your email address"
                                                value="{{ socios.email }}">
                                            </div>
                                            <!-- Form Group (CPF)-->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputCPF">CPF</label>
                                                <input class="form-control" id="cpf" name="cpf" type="text"
                                                placeholder="000.000.000-00"
                                                value="{{ socios.cpf }}" maxlength="14">
                                            </div>
                                            <!-- Form Group (Group Selection Checkboxes)-->

                                            <!-- Form Group (Roles)-->
                                            <div class="mb-3">
                                                <label class="small mb-1">Tipo de Socio</label>

                                                <select id="selTipo" name="selTipo" class="form-select" aria-label="Default select example">
                                                    
                                                    <option selected="" disabled="">Select a role:</option>
                                                    {% if socios.tipo == 'administrator' %}
                                                    <option value="administrator" selected>Administrator</option>
                                                    {% else %}
                                                    <option value="administrator" >Administrator</option>
                                                    {% endif %}
                                                    {% if socios.tipo == 'quotista' %}
                                                    <option value="quotista" selected>Quotista</option>
                                                    {% else %}
                                                    <option value="quotista">Quotista</option>
                                                    {% endif %}

                                                    {% if socios.tipo == 'somente_adm' %}
                                                    <option value="somente_adm" selected>Somente adm</option>
                                                    {% else %}
                                                    <option value="somente_adm">Somente adm</option>
                                                    {% endif %}

                                                </select>
                                            </div>
                                            <!-- Submit button-->
                                            <button class="btn btn-primary" type="submit">Salvar</button>
                                       </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>


{%endblock%}